html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #000;
  color: #fff;
}

/* todos */
.todos {
  font-size: 1rem;
}

.todos li {
  display: flex;
}

.todos li > span {
  margin-right: 10px;
}

.todos li > h2 {
  display: flex;
}

.todos li > h2 > span {
  background: white;
  color: green;
  margin-left: 5px;
  text-align: center;
  border-radius: 55px;
  height: 20px;
  width: 20px;
  flex: 1 0 auto;
}
